---
layout: default
title: "Projects"
---

<div class="projects">

    <h1>Projects</h1>

    {% for post in site.posts %}
        
        {% if post.category contains "projects" %}

            <div class="project">
                <div class="cover">
                {% if post.image %}
                <a href="{{ post.url }}"><img src="{{ post.image }}" /></a>
                {% endif %}
                </div> <!-- .cover -->
                <a href="{{ post.url }}">{{ post.title }}</a>
            </div>

        {% endif %}

    {% endfor %}

</div> <!-- .projects -->
