<header>
    <div class="social-icons">
        <a class="social twitter" title="Twitter"
           href="http://www.twitter.com/#!/AidanGrabe/"></a>
        <a class="social github" title="Github"
           href="https://github.com/AidanGrabe/"></a>
        <a class="social google" title="Google+"i
           href="http://gplus.to/AidanGrabe"></a>
        <a class="social linkedin" title="LinkedIn"
           href="https://www.linkedin.com/in/aidangrabe"></a>
    </div> <!-- .social-icons -->
    <div class="avatar"></div>
</header>
