$avatar-border-size: 4px;
$avatar-size: 200px;
$avatar-small-size: ($avatar-size / 1.5);

$dir-img: "../img/site";
$dir-fnt: "../fnt";

$size-mobile: 480px;
$size-tablet: 800px;
$size-desktop: 940px;





$header-size: ($avatar-size + $avatar-border-size * 2);

$nav-size: ($header-size / 2);


/**
 * COLORS
 */
$c-link:    #B2376E;
$c-link-h:  darken($c-link, 30);

$c-secondary: #379EB2;
