.group {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

h1, h2, h3 {
    @include no-space();
}

html {
    font-size: 62.5%;
}

#skip-link {
    position: absolute;
    top: -9999px;
}
