<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    <a href="#main-content" id="skip-link">Skip to content</a>

    <div id="wrapper">

        {% include header.html %}

        <section id="main-body">
            <nav id="main-nav">
                
                {% include nav.html %}

            </nav>
            <section id="main-content">

                <article>
                    {{ content }}
                </article>

            </section> <!-- #main-content -->
        </section> <!-- #main-body -->

        {% include footer.html %}

    </div> <!-- #wrapper -->

    <script src="/res/js/main.js"></script>

</body>

</html>
